name: localizations
description: Localizations package.
publish_to: none
version: 1.0.0

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  intl: ^0.20.2

dev_dependencies:
  build_runner: ^2.4.10
  flutter_gen: ^5.12.0

flutter:
  # Enable generation of localized Strings from arb files.
  generate: true
